body{
    margin: 0;
    background-color: lightgray;
}


#main .title{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact;
    margin-top: 50px;
}


#main .parag{
    font-size: 35px;
    font-family: "Times New Roman";
    font-weight: 400;
    margin-top: 50px;
}

#main .buttony{
    width: 250px;
    height: 80px;
    font-size: 20px;
    margin-top: 20px;
}

#main .quotat{
    font-size: 35px;
    font-family: "Times New Roman";
    font-weight: 400;
    margin-top: 50px;
}